@font-face {
    font-family: 'Cheri';
    font-style: normal;
    font-weight: normal;
    src: local('Cheri'), url('CHERI.woff') format('woff');
}

h1 {
    font-family: 'Cheri';
    color: white;
}

h2 {
    color: white;
    font-weight: bold;
}

img{
    width: 200px;
}